<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-24.32t] | MDC:[%X] | %-5level | %c{0}: %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="tech.figure.asset.domain.usecase" level="DEBUG"/>
    <logger name="tech.figure.asset.frameworks.web" level="DEBUG"/>
    <logger name="tech.figure.asset.frameworks.data" level="DEBUG"/>
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
